
$blue: #1D4AD7;
$mobile: (max-width: 320px);
$tablet: (max-width: 536px);
$desktop: (max-width: 1024px);
$full-desktop: (max-width: 1400px);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'VTBGroup', sans-serif;
    font-size: 16px;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;

    vertical-align: middle;
}

// wrapper
.wrapper {
    max-width: 1170px;
    margin: 0 auto;

    @media #{$tablet} {
        padding: 0 10px;
    }

    @media #{$mobile} {
        padding: 0 20px;
    }
}
// -- wrapper

// button
button {
    cursor: pointer;
    transition: all 0.25s;
}

.button {
    display: block;
    width: 135px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    border: none;
}

.button--blue {
    background-color: $blue;
    color: #ffffff;
    transition: background-color 0.3s,
                color 0.3s;

    &:hover, &:focus {
        background-color: #ffffff;
        color: $blue;
        border: 2px solid $blue;
    }
}

.button--white {
    background-color: #ffffff;
    color: #404040;
    transition: background-color 0.3s,
                color 0.3s;

    &:hover, &:focus {
        background-color: $blue;
        color: #ffffff;
        border: 2px solid #ffffff;
    }
}
// -- button

// title
.title {
    text-align: center;
    font-size: 48px;
    color: #404040;

    @media #{$tablet} {
        font-size: 32px;
    }

    @media #{$mobile} {
        font-size: 24px;
    }
}

.title--36px {
    font-size: 36px;
    text-align: left;

    @media #{$tablet} {
        font-size: 22px;
    }

    @media #{$mobile} {
        font-size: 18px;
    }
}
// --title

// introduction
.introduction {
    width: 100%;
    background: #ffffff url('../img/background-introduction.png') no-repeat center center;
    background-size: cover;

    @media #{$tablet} {
        height: 100vh;
    }
}

.introduction__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 144px;

    @media #{$tablet} {
        padding-top: 50px;
        padding-bottom: 72px;
    }
}

.introduction__logos {
    width: 245px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    @media #{$mobile} {
        margin-bottom: 30px;
        flex-direction: column;
    }
}

.introduction__logo-vtb {
    @media #{$mobile} {
        margin-bottom: 15px;
    }
}

.introduction__plus-sign {
    font-size: 25px;
    font-weight: bold;

    @media #{$mobile} {
        margin-bottom: 15px;
    }
}

.introduction__text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introduction__subtitle {
    margin-bottom: 10px;
    opacity: 0.3;
    font-size: 16px;

    @media #{$tablet} {
        margin-bottom: 30px;
    }
}

.introduction__title {
    margin-bottom: 10px;

    @media #{$tablet} {
        margin-bottom: 30px;
    }
}

.introduction__description {
    text-align: center;
    opacity: 0.5;
    margin-bottom: 51px;
    font-size: 16px;

    @media #{$tablet} {
        margin-bottom: 100px;
    }
}
// -- introduction

.page-main {
    padding-top: 80px;

    @media #{$tablet} {
        padding-top: 40px;
    }
}

// how-it-works
.how-it-works {
    margin-bottom: 80px;

    @media #{$tablet} {
        margin-bottom: 50px;
    }
}

.how-it-works__wrapper {
    padding: 0 15px;
}

.how-it-works__title {
    margin-bottom: 42px;
}

.how-it-works__list {
    display: flex;
    justify-content: space-between;

    @media (max-width: 790px) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}

.how-it-works__item {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & + & {
        margin-left: 15px;
    }
}


.how-it-works__number-of-item {
    font-family: 'Formular', sans-serif;
    width: 110px;
    height: 110px;
    position: relative;
    background-color: #f4f7fc;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00AAFF;
    font-size: 50px;
    font-weight: bold;
    border-radius: 50%;
    margin-bottom: 20px;
}

.how-it-works__item-description {
    text-align: center;
    opacity: 0.4;
}

.how-it-works__first-item-description {
    width: 135px;

    @media (max-width: 790px) {
        width: 250px;
    }
}

.how-it-works__right-arrow {
    padding-top: 50px;

    @media (max-width: 790px) {
        transform: rotate(90deg);
        padding: 35px 0;
    }
}
// -- how-it-works

// what-you-get
.what-you-get__wrapper {
    padding: 0 20px;
}

.what-you-get__title {
    margin-bottom: 40px;
}

.what-you-get__item {
    display: flex;
    align-items: center;
    margin-bottom: 80px;

    @media #{$tablet} {
        flex-direction: column;
        margin-bottom: 30px;
    }
}

.what-you-get__item:nth-child(even) {
    @media #{$tablet} {
        flex-direction: column-reverse;
    }
}

.what-you-get__image-wrapper {
    min-width: 51%;

    @media #{$tablet} {
        min-width: 100%;
    }
}

.what-you-get__image {
    max-width: 100%;
    height: auto;

    vertical-align: middle;

    border-radius: 4px;

    @media #{$tablet} {
        margin-bottom: 15px;
    }
}

.what-you-get__image-wrapper:nth-child(odd) {
    margin-right: 10.5%;

    @media #{$tablet} {
        margin-right: 0;
    }
}

.what-you-get__text-content:nth-child(odd) {
    margin-right: 8.75%;

    @media #{$tablet} {
        margin-right: 0;
    }
}

.what-you-get__item-title {
    margin-bottom: 10px;
}

.what-you-get__item-description {
    opacity: 0.4;
    margin-bottom: 20px;
}

.what-you-get__button {
    width: 195px;
}
// -- what-you-get

// banner
.banner {
    background: rgba(29, 74, 215, 0.9) url('../img/background-banner.jpg') no-repeat center center;
    background-size: cover;
    margin-bottom: 80px;
}

.banner__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 88px 20px;

    @media #{$desktop} {
        padding: 55px 20px;
    }

    @media (max-width: 980px) {
        flex-direction: column;
        align-items: flex-start;
    }

    @media #{$tablet} {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.banner__title {
    color: #ffffff;
    flex-grow: 1;
    margin-right: 50px;

    @media (max-width: 980px) {
        margin-bottom: 30px;
        margin-right: 0;
    }
}

.banner__button-wrapper {
    display: flex;
    align-items: center;
}

.banner__button {
    min-width: 140px;
    height: 60px;
    font-size: 24px;
    margin-right: 25px;

    @media #{$tablet} {
        font-size: 22px;
        width: 135px;
        height: 50px;
    }
}

.banner__price {
    font-size: 36px;
    color: #ffffff;
}
// -- banner

// consultation-with-designer
.consultation-with-designer {
    margin-bottom: 80px;
}

.consultation-with-designer__wrapper {
    padding: 0 20px;
}

.consultation-with-designer__title {
    margin-bottom: 20px;
}

.consultation-with-designer__text-content {
    margin: 0 auto;
    margin-bottom: 40px;
    font-size: 18px;
    text-align: center;
    opacity: 0.4;
    padding: 0 170px;

    @media (max-width: 800px) {
        padding: 0;
    }
}

.consultation-with-designer__gallery {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;

    @media (max-width: 800px) {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    }
}

.consultation-with-designer__left-section,
.consultation-with-designer__right-section {
    @media (max-width: 800px) {
        display: flex;

    }
}

.consultation-with-designer__image {
    border-radius: 3px;
    border: 3px solid transparent;

    &:hover, &:focus {
        border-color: $blue;
    }
}

.consultation-with-designer__main-section {
    background: #ffffff url('../img/consultation-with-designer-3.jpg') no-repeat center center;
    background-size: cover;
    margin: 0 20px;
    border-radius: 4px;
    border: 3px solid transparent;

    @media (max-width: 800px) {
        margin: 0;
    }
}

.consultation-with-designer__image-wrapper-first {
    margin-bottom: 20px;

    @media (max-width: 800px) {
        margin-bottom: 0;
    }
}

.consultation-with-designer__image-wrapper {
    background: none;
    border: none;
    outline: none;

    @media (max-width: 800px) {
        width: 50%;
    }
}
// -- consultation-with-designer

// other-devices
.other-services {
    margin-bottom: 20px;
}

.other-services__swiper {
    overflow-x: hidden;
    // padding: 0 40px;
    padding-top: 40px;

    @media #{$desktop} {
        overflow: auto;
    }
}

.other-services__list {
    display: flex;
    padding: 0 40px;
}

.other-services__item {
    min-width: 340px;
    display: inline-block;
    user-select: none;
    margin-right: 40px;

    box-shadow: 0px 0px 40px rgba(159, 172, 211, 0.4);
}

.other-services__text-content {
    pointer-events: none;
    padding: 30px 20px;
    padding-bottom: 50px;
}
// -- other-services

// footer
.page-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.footer__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 30px;
}
// -- footer