* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'VTBGroup', sans-serif;
  font-size: 16px;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

@media (max-width: 536px) {
  .wrapper {
    padding: 0 10px;
  }
}

@media (max-width: 320px) {
  .wrapper {
    padding: 0 20px;
  }
}

button {
  cursor: pointer;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.button {
  display: block;
  width: 135px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  border: none;
}

.button--blue {
  background-color: #1D4AD7;
  color: #ffffff;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}

.button--blue:hover, .button--blue:focus {
  background-color: #ffffff;
  color: #1D4AD7;
  border: 2px solid #1D4AD7;
}

.button--white {
  background-color: #ffffff;
  color: #404040;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
}

.button--white:hover, .button--white:focus {
  background-color: #1D4AD7;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.title {
  text-align: center;
  font-size: 48px;
  color: #404040;
}

@media (max-width: 536px) {
  .title {
    font-size: 32px;
  }
}

@media (max-width: 320px) {
  .title {
    font-size: 24px;
  }
}

.title--36px {
  font-size: 36px;
  text-align: left;
}

@media (max-width: 536px) {
  .title--36px {
    font-size: 22px;
  }
}

@media (max-width: 320px) {
  .title--36px {
    font-size: 18px;
  }
}

.title--21px {
  font-size: 21px;
  text-align: left;
}

@media (max-width: 536px) {
  .title--21px {
    font-size: 19px;
  }
}

.introduction {
  width: 100%;
  background: #ffffff url("../img/background-introduction.png") no-repeat center center;
  background-size: cover;
}

@media (max-width: 536px) {
  .introduction {
    height: 100vh;
  }
}

.introduction__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
  padding-bottom: 144px;
}

@media (max-width: 536px) {
  .introduction__wrapper {
    padding-top: 50px;
    padding-bottom: 72px;
  }
}

.introduction__logos {
  width: 245px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

@media (max-width: 320px) {
  .introduction__logos {
    margin-bottom: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 320px) {
  .introduction__logo-vtb {
    margin-bottom: 15px;
  }
}

.introduction__plus-sign {
  font-size: 25px;
  font-weight: bold;
}

@media (max-width: 320px) {
  .introduction__plus-sign {
    margin-bottom: 15px;
  }
}

.introduction__text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.introduction__subtitle {
  margin-bottom: 10px;
  opacity: 0.3;
  font-size: 16px;
}

@media (max-width: 536px) {
  .introduction__subtitle {
    margin-bottom: 30px;
  }
}

.introduction__title {
  margin-bottom: 10px;
}

@media (max-width: 536px) {
  .introduction__title {
    margin-bottom: 30px;
  }
}

.introduction__description {
  text-align: center;
  opacity: 0.5;
  margin-bottom: 51px;
  font-size: 16px;
}

@media (max-width: 536px) {
  .introduction__description {
    margin-bottom: 100px;
  }
}

.page-main {
  padding-top: 80px;
}

@media (max-width: 536px) {
  .page-main {
    padding-top: 40px;
  }
}

.how-it-works {
  margin-bottom: 80px;
}

@media (max-width: 536px) {
  .how-it-works {
    margin-bottom: 50px;
  }
}

.how-it-works__wrapper {
  padding: 0 15px;
}

.how-it-works__title {
  margin-bottom: 42px;
}

.how-it-works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 790px) {
  .how-it-works__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.how-it-works__item {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how-it-works__item + .how-it-works__item {
  margin-left: 15px;
}

.how-it-works__number-of-item {
  font-family: 'Formular', sans-serif;
  width: 110px;
  height: 110px;
  position: relative;
  background-color: #f4f7fc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #00AAFF;
  font-size: 50px;
  font-weight: bold;
  border-radius: 50%;
  margin-bottom: 20px;
}

.how-it-works__item-description {
  text-align: center;
  opacity: 0.4;
}

.how-it-works__first-item-description {
  width: 135px;
}

@media (max-width: 790px) {
  .how-it-works__first-item-description {
    width: 250px;
  }
}

.how-it-works__right-arrow {
  padding-top: 50px;
}

@media (max-width: 790px) {
  .how-it-works__right-arrow {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    padding: 35px 0;
  }
}

.what-you-get__wrapper {
  max-width: 1240px;
  padding: 0 20px;
}

.what-you-get__title {
  margin-bottom: 40px;
}

.what-you-get__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}

@media (max-width: 536px) {
  .what-you-get__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px;
  }
}

@media (max-width: 536px) {
  .what-you-get__item:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.what-you-get__image-wrapper {
  min-width: 51%;
}

@media (max-width: 536px) {
  .what-you-get__image-wrapper {
    min-width: 100%;
  }
}

.what-you-get__image {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-radius: 4px;
}

@media (max-width: 536px) {
  .what-you-get__image {
    margin-bottom: 15px;
  }
}

.what-you-get__image-wrapper:nth-child(odd) {
  margin-right: 10.5%;
}

@media (max-width: 536px) {
  .what-you-get__image-wrapper:nth-child(odd) {
    margin-right: 0;
  }
}

.what-you-get__text-content:nth-child(odd) {
  margin-right: 8.75%;
}

@media (max-width: 536px) {
  .what-you-get__text-content:nth-child(odd) {
    margin-right: 0;
  }
}

.what-you-get__item-title {
  margin-bottom: 10px;
}

.what-you-get__item-description {
  opacity: 0.4;
  margin-bottom: 20px;
}

.what-you-get__button {
  width: 195px;
}

.banner {
  background: rgba(29, 74, 215, 0.9) url("../img/background-banner.jpg") no-repeat center center;
  background-size: cover;
  margin-bottom: 80px;
}

@media (max-width: 536px) {
  .banner {
    margin-bottom: 40px;
  }
}

.banner__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 88px 20px;
}

@media (max-width: 1024px) {
  .banner__wrapper {
    padding: 55px 20px;
  }
}

@media (max-width: 980px) {
  .banner__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 536px) {
  .banner__wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.banner__title {
  color: #ffffff;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 50px;
}

@media (max-width: 980px) {
  .banner__title {
    margin-bottom: 30px;
    margin-right: 0;
  }
}

.banner__button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner__button {
  min-width: 140px;
  height: 60px;
  font-size: 24px;
  margin-right: 25px;
}

@media (max-width: 536px) {
  .banner__button {
    font-size: 22px;
    width: 135px;
    height: 50px;
  }
}

.banner__price {
  font-size: 36px;
  color: #ffffff;
}

.consultation-with-designer {
  margin-bottom: 80px;
}

@media (max-width: 536px) {
  .consultation-with-designer {
    margin-bottom: 40px;
  }
}

.consultation-with-designer__wrapper {
  max-width: 1370px;
  padding: 0 20px;
}

.consultation-with-designer__title {
  margin-bottom: 20px;
}

.consultation-with-designer__text-content {
  margin: 0 auto;
  margin-bottom: 40px;
  font-size: 18px;
  text-align: center;
  opacity: 0.4;
  padding: 0 170px;
}

@media (max-width: 800px) {
  .consultation-with-designer__text-content {
    padding: 0;
  }
}

.consultation-with-designer__gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
}

@media (max-width: 800px) {
  .consultation-with-designer__gallery {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 2fr 1fr;
        grid-template-rows: 1fr 2fr 1fr;
  }
}

@media (max-width: 800px) {
  .consultation-with-designer__left-section,
  .consultation-with-designer__right-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.consultation-with-designer__image {
  border-radius: 3px;
  border: 3px solid transparent;
}

.consultation-with-designer__image:hover, .consultation-with-designer__image:focus {
  border-color: #1D4AD7;
}

.consultation-with-designer__main-section {
  background: #ffffff url("../img/consultation-with-designer-3.jpg") no-repeat center center;
  background-size: cover;
  margin: 0 20px;
  border-radius: 4px;
  border: 3px solid transparent;
}

@media (max-width: 800px) {
  .consultation-with-designer__main-section {
    margin: 0;
  }
}

.consultation-with-designer__image-wrapper-first {
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .consultation-with-designer__image-wrapper-first {
    margin-bottom: 0;
  }
}

.consultation-with-designer__image-wrapper {
  background: none;
  border: none;
  outline: none;
}

@media (max-width: 800px) {
  .consultation-with-designer__image-wrapper {
    width: 50%;
  }
}

.other-services {
  margin-bottom: 40px;
}

@media (max-width: 536px) {
  .other-services {
    margin-bottom: 20px;
  }
}

.other-services__wrapper {
  padding: 0 20px;
  max-width: 1370px;
}

@media (max-width: 1024px) {
  .other-services__wrapper {
    padding: 0;
  }
}

.other-services__swiper {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow-x: hidden;
  padding-top: 40px;
}

@media (pointer: coarse) {
  .other-services__swiper {
    overflow: auto;
    -webkit-user-select: auto;
       -moz-user-select: auto;
        -ms-user-select: auto;
            user-select: auto;
  }
}

.other-services__list {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 40px;
}

.other-services__item {
  min-width: 387px;
  display: inline-block;
  margin-right: 40px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 40px rgba(159, 172, 211, 0.4);
          box-shadow: 0px 0px 40px rgba(159, 172, 211, 0.4);
}

@media (max-width: 536px) {
  .other-services__item {
    min-width: 290px;
  }
}

@media (max-width: 350px) {
  .other-services__item {
    min-width: 250px;
  }
}

.other-services__item:last-child {
  margin-right: 0;
}

.other-services__image {
  border-radius: 15px 15px 0 0;
}

.other-services__text-content {
  pointer-events: none;
  padding: 30px 20px;
  padding-bottom: 50px;
}

.other-services__title {
  max-width: 80%;
  margin-bottom: 20px;
}

@media (max-width: 536px) {
  .other-services__title {
    max-width: 100%;
  }
}

.other-services__description {
  opacity: 0.4;
}

.page-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

.footer__address {
  text-align: center;
}

@media (max-width: 536px) {
  .footer__address {
    font-size: 14px;
  }
}
/*# sourceMappingURL=styles.css.map */