* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'VTBGroup', sans-serif;
  font-size: 16px;
  height: 5000px;
}

ul {
  list-style: none;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

@media (max-width: 536px) {
  .wrapper {
    padding: 0 10px;
  }
}

@media (max-width: 320px) {
  .wrapper {
    padding: 0 20px;
  }
}

.button {
  display: block;
  width: 135px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1D4AD7;
  text-decoration: none;
  color: #ffffff;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  border: none;
}

.button--white {
  background-color: #ffffff;
  color: #404040;
}

.header {
  text-align: center;
  font-size: 48px;
  color: #404040;
}

@media (max-width: 536px) {
  .header {
    font-size: 32px;
  }
}

@media (max-width: 320px) {
  .header {
    font-size: 24px;
  }
}

.header--36px {
  font-size: 36px;
  text-align: left;
}

@media (max-width: 536px) {
  .header--36px {
    font-size: 22px;
  }
}

@media (max-width: 320px) {
  .header--36px {
    font-size: 18px;
  }
}

.page-header {
  width: 100%;
  background: #ffffff url("../img/background-header.png") no-repeat center center;
  background-size: cover;
}

@media (max-width: 536px) {
  .page-header {
    height: 100vh;
  }
}

.page-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
  padding-bottom: 144px;
}

@media (max-width: 536px) {
  .page-header__wrapper {
    padding-top: 50px;
    padding-bottom: 72px;
  }
}

.page-header__logos {
  width: 245px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

@media (max-width: 320px) {
  .page-header__logos {
    margin-bottom: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 320px) {
  .page-header__logo-vtb {
    margin-bottom: 15px;
  }
}

.page-header__plus-sign {
  font-size: 25px;
  font-weight: bold;
}

@media (max-width: 320px) {
  .page-header__plus-sign {
    margin-bottom: 15px;
  }
}

.page-header__text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header__title {
  margin-bottom: 10px;
  opacity: 0.3;
  font-size: 16px;
}

@media (max-width: 536px) {
  .page-header__title {
    margin-bottom: 30px;
  }
}

.page-header__header {
  margin-bottom: 10px;
}

@media (max-width: 536px) {
  .page-header__header {
    margin-bottom: 30px;
  }
}

.page-header__description {
  text-align: center;
  opacity: 0.5;
  margin-bottom: 51px;
  font-size: 16px;
}

@media (max-width: 536px) {
  .page-header__description {
    margin-bottom: 100px;
  }
}

.page-main {
  padding-top: 80px;
}

@media (max-width: 536px) {
  .page-main {
    padding-top: 40px;
  }
}

.how-it-works {
  margin-bottom: 80px;
}

@media (max-width: 536px) {
  .how-it-works {
    margin-bottom: 50px;
  }
}

.how-it-works__wrapper {
  padding: 0 15px;
}

.how-it-works__header {
  margin-bottom: 42px;
}

.how-it-works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 790px) {
  .how-it-works__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.how-it-works__item {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.how-it-works__item + .how-it-works__item {
  margin-left: 15px;
}

.how-it-works__number-of-item {
  font-family: 'Formular', sans-serif;
  width: 110px;
  height: 110px;
  position: relative;
  background-color: #f4f7fc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #00AAFF;
  font-size: 50px;
  font-weight: bold;
  border-radius: 50%;
  margin-bottom: 20px;
}

.how-it-works__item-description {
  text-align: center;
  opacity: 0.4;
}

.how-it-works__first-item-description {
  width: 135px;
}

@media (max-width: 790px) {
  .how-it-works__first-item-description {
    width: 250px;
  }
}

.how-it-works__right-arrow {
  padding-top: 50px;
}

@media (max-width: 790px) {
  .how-it-works__right-arrow {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    padding: 35px 0;
  }
}

.what-you-get__wrapper {
  padding: 0 20px;
}

.what-you-get__header {
  margin-bottom: 40px;
}

.what-you-get__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}

@media (max-width: 536px) {
  .what-you-get__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 30px;
  }
}

@media (max-width: 536px) {
  .what-you-get__item:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.what-you-get__image-wrapper {
  min-width: 51%;
}

@media (max-width: 536px) {
  .what-you-get__image-wrapper {
    min-width: 100%;
  }
}

.what-you-get__image {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-radius: 4px;
}

@media (max-width: 536px) {
  .what-you-get__image {
    margin-bottom: 15px;
  }
}

.what-you-get__image-wrapper:nth-child(odd) {
  margin-right: 10.5%;
}

@media (max-width: 536px) {
  .what-you-get__image-wrapper:nth-child(odd) {
    margin-right: 0;
  }
}

.what-you-get__text-content:nth-child(odd) {
  margin-right: 8.75%;
}

@media (max-width: 536px) {
  .what-you-get__text-content:nth-child(odd) {
    margin-right: 0;
  }
}

.what-you-get__item-header {
  margin-bottom: 10px;
}

.what-you-get__item-description {
  opacity: 0.4;
  margin-bottom: 20px;
}

.what-you-get__button {
  width: 195px;
}

.banner {
  background: rgba(29, 74, 215, 0.9) url("../img/background-banner.jpg") no-repeat center center;
  background-size: cover;
}

.banner__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 88px 20px;
}

@media (max-width: 1024px) {
  .banner__wrapper {
    padding: 55px 20px;
  }
}

@media (max-width: 980px) {
  .banner__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 536px) {
  .banner__wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.banner__header {
  color: #ffffff;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 50px;
}

@media (max-width: 980px) {
  .banner__header {
    margin-bottom: 30px;
    margin-right: 0;
  }
}

.banner__button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner__button {
  min-width: 140px;
  height: 60px;
  font-size: 24px;
  margin-right: 25px;
}

@media (max-width: 536px) {
  .banner__button {
    font-size: 22px;
    width: 135px;
    height: 50px;
  }
}

.banner__price {
  font-size: 36px;
  color: #ffffff;
}

.consultation-with-designer__list {
  max-width: 1170px;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
      grid-template-areas: "image-1 image-3 image-4" "image-2 image-3 image-5";
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
}

.consultation-with-designer__item-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: image-1;
}

.consultation-with-designer__item-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: image-2;
}

.consultation-with-designer__item-3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: image-3;
}

.consultation-with-designer__item-4 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: image-4;
}

.consultation-with-designer__item-5 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: image-5;
}

.consultation-with-designer__image {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
/*# sourceMappingURL=styles.css.map */