.consultation-with-designer {
    margin-bottom: 80px;
}

.consultation-with-designer__wrapper {
    max-width: 1370px;
    padding: 0 20px;
}

.consultation-with-designer__title {
    margin-bottom: 20px;
}

.consultation-with-designer__text-content {
    margin: 0 auto;
    margin-bottom: 40px;
    font-size: 18px;
    text-align: center;
    opacity: 0.4;
    padding: 0 170px;
}

.consultation-with-designer__gallery {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.consultation-with-designer__main-section {
    margin: 0 20px;
    border-radius: 4px;
}

.consultation-with-designer__image-wrapper-first {
    margin-bottom: 20px;
}

.consultation-with-designer__image-wrapper {
    background: none;
    border: none;
    outline: none;

    border-radius: 3px;
    border: 3px solid transparent;

    &:hover, &:focus {
        border-color: $blue;
    }
}

.consultation-with-designer__main-image-wrapper {
    height: 100%;
}

.consultation-with-designer__main-image {
    min-height: 100%;
}

.consultation-with-designer__main-image.medium-zoom-image--opened {
    min-height: unset;
}

@media #{$tablet} {
    .consultation-with-designer {
        margin-bottom: 40px;
    }
}

@media (max-width: 800px) {
    .consultation-with-designer__text-content {
        padding: 0;
    }

    .consultation-with-designer__gallery {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    }

    .consultation-with-designer__left-section,
    .consultation-with-designer__right-section {
        display: flex;
    }

    .consultation-with-designer__main-section {
        margin: 5px 0;
    }

    .consultation-with-designer__image-wrapper-first {
        margin-bottom: 0;
        margin-right: 5px;
    }

    .consultation-with-designer__image-wrapper {
        min-width: 50%;
    }
}