.page-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.footer__address {
    text-align: center;
}

@media #{$tablet} {
    .footer__address {
        font-size: 14px;
    }
}