.how-it-works {
    margin-bottom: 80px;
}

.how-it-works__wrapper {
    padding: 0 15px;
}

.how-it-works__title {
    margin-bottom: 42px;
}

.how-it-works__list {
    display: flex;
    justify-content: space-between;
}

.how-it-works__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;

    & + & {
        margin-left: 15px;
    }
}

.how-it-works__number-of-item {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 110px;
    min-height: 110px;
    margin-bottom: 20px;

    font-family: 'Formular', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #00AAFF;

    background-color: #f4f7fc;
    border-radius: 50%;
}

.how-it-works__item-description {
    opacity: 0.4;

    text-align: center;
}

.how-it-works__first-item-description {
    max-width: 135px;
}

.how-it-works__right-arrow {
    padding-top: 50px;
}

@media #{$tablet} {
    .how-it-works {
        margin-bottom: 50px;
    }
}

@media (max-width: 790px) {
    .how-it-works__list {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .how-it-works__first-item-description {
        max-width: 250px;
    }

    .how-it-works__right-arrow {
        padding: 35px 0;

        transform: rotate(90deg);
    }
}