.modal {
  display: inline-block;
  width: 100%;
  max-width: 500px;
  margin-bottom: 10px;
  padding: 20px;
  vertical-align: middle;
  border-radius: 15px;

  background: #ffffff;

  text-align: left;

  transform: translate3d(0,0,0);
}

.modal__select {
  height: 40px;

  background-color: transparent;
  border: 1px solid #9b9b9b;
}

.modal__button-section {
  margin-bottom: 30px;
}

.modal__button-section .modal__form-errors {
  margin-top: 10px;
}

.modal__bg {
  position: fixed;
  z-index: 11;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  visibility: hidden;
  opacity: 0;

  padding: 40px 40px 0 40px;

  background: rgba(43,46,56,.9);

  text-align: center;

  transition: all 0.15s;

  &.visible {
    visibility: visible;
    opacity: 1;
  }

  &:after {
    content: "";

    display: inline-block;
    height: 100%;
    margin-left: -.05em;

    vertical-align: middle;
  }
}

.modal__close-button {
  position: absolute;
  top: -27.5px;
  right: -27.5px;
  border: none;
  background-color: transparent;

  fill: #000000;

  &:hover, &:focus {
    opacity: 0.3;
  }
}

.modal__link {
  &--underline {
    border-bottom: 1px solid #000000;

    &:hover, &:focus {
      opacity: 0.3;
    }
  }
}

.modal__form {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.modal__label {
  display: flex;
  flex-direction: column;

  font-size: 16px;
  color: #404040;

  & + & {
    margin-top: 25px;
  }
}

.modal__title {
  margin-bottom: 20px;
  text-align: left;
  font-size: 24px;
}

.modal__title--center {
  text-align: center;
}

.modal__title--uppercase {
  text-transform: uppercase;
}

.modal__title--big-margin-bottom {
  margin-bottom: 30px;
}

.modal__input {
  resize: none;

  border: 2px solid #E8E8E8;
  border-radius: 3px;
  padding: 13px 15px;
  cursor: pointer;
  outline: none;
  margin-top: 3px;
  color: #404040;
  font-size: 16px;

  &--error {
    border-color: red;
  }

  &:focus, &:active {
    border-color: #ababab;
    color: #404040;
  }
}

.modal__text {
  display: inline-block;
  text-align: center;
  opacity: 0.3;
  font-size: 12px;
  margin-bottom: 20px;
}

.modal__text--black {
  opacity: 1;
  font-size: 16px;
  text-align: left;
  text-indent: 20px;
}

.modal__submit {
  min-width: 100%;
  min-height: 60px;
}

.modal__button {
  display: inline;
  border: none;
  outline: none;
  background-color: transparent;

  &:hover, &:focus {
    color: $blue;
  }
}

.modal__button-text {
  text-decoration: underline;
  font-size: 12px;
  opacity: 1;
}

.modal__cross-icon {
  fill: #ffffff;
}

.modal__text--small {
  font-size: 12px;
}

.modal__content--center {
  display: flex;
  justify-content: center;
}

.modal--wide {
  max-width: 1020px;
  border-radius: 15px;
  padding: 30px;

  li {
    list-style-type: none;
    padding: 5px 0;
  }
  
  ol {
    font-size: inherit;
    counter-reset: list1;
  }
  
  ol li:before {
    counter-increment: list1;
    content: counter(list1) ". ";
  }
  
  ol ol {
    counter-reset: list2;
    padding-left: 20px;
  }
  
  ol ol li:before {
    counter-increment: list2;
    content: counter(list1) "." counter(list2) ". ";
  }
  
  ol ol ol {
    counter-reset: list3;
    padding-left: 20px;
  }
  
  ol ol ol li:before {
    counter-increment: list3;
    content: counter(list1) "." counter(list2) ". " counter(list3) ". ";
  }
  
  ol ol ol ol {
    counter-reset: list4;
  }
  
  ol ol ol ol li:before {
    counter-increment: list4;
    content: counter(list1) "." counter(list2) ". " counter(list3) ". " counter(list4) ". ";
  }
}

.modal__image {
  min-width: 100%;
  height: auto;
}

.public-offer__text,
.public-offer__terms {
  margin-bottom: 20px;
}

.public-offer-list,
.public-offer__executor,
.public-offer__design-project {
  margin-top: 20px;
}

.public-offer__act {
  text-align: center;
  margin-bottom: 10px;
}

.public-offer__table {
  width: 100%;
  td {
    width: 50%;
    border: 1px solid;
  }
}

@media (max-width: 640px) {
  .modal__close-button {
    top: 20px;
    right: 20px;
  }

  .modal__title {
    font-size: 18px;
  }

  .model__cross-icon {
    fill: #404040;
  }

  .modal__bg {
    padding: 40px 20px 0 20px;
  }
}

@media (max-width: 1120px) {
  .modal__close-button--wide-container {
    top: 20px;
    right: 20px;
  }

  .modal--wide {
    padding: 15px;
  }

  .modal__cross-icon--wide-container {
    fill: #404040;
  }

  .close-button--wide-container {
    top: 20px;
    right: 20px;
  }

  .cross-icon--wide-container {
    fill: #404040;
  }
}