@font-face {
    font-family: 'VTBGroup';
    src: url(VTBGroup-Light/VTBGroup-Light.eot);
    src:
        url(VTBGroup-Light/VTBGroup-Light.eot?#iefix) format("embedded-opentype"),
        url(VTBGroup-Light/VTBGroup-Light.woff2) format("woff2"),
        url(VTBGroup-Light/VTBGroup-Light.woff) format("woff"),
        url(VTBGroup-Light/VTBGroup-Light.ttf) format("truetype");
    font-weight: 300;
    font-style: normal
}
@font-face {
    font-family: 'VTBGroup';
    src: url(VTBGroup-Book/VTBGroup-Book.eot);
    src:
        url(VTBGroup-Book/VTBGroup-Book.eot?#iefix) format("embedded-opentype"),
        url(VTBGroup-Book/VTBGroup-Book.woff2) format("woff2"),
        url(VTBGroup-Book/VTBGroup-Book.woff) format("woff"),
        url(VTBGroup-Book/VTBGroup-Book.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'VTBGroup';
    src: url(VTBGroup-DemiBold/VTBGroup-DemiBold.eot);
    src:
        url(VTBGroup-DemiBold/VTBGroup-DemiBold.eot?#iefix) format("embedded-opentype"),
        url(VTBGroup-DemiBold/VTBGroup-DemiBold.woff2) format("woff2"),
        url(VTBGroup-DemiBold/VTBGroup-DemiBold.woff) format("woff"),
        url(VTBGroup-DemiBold/VTBGroup-DemiBold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal
}
@font-face {
    font-family: 'Formular';
    src:
        url(formular/formular-regular.woff2) format("woff2"),
        url(formular/formular-regular.woff) format("woff"),
        url(formular/formular-regular.otf) format("opentype");
    font-weight: normal;
    font-style: normal
}