@media #{$tablet} {
    .smooth-display-block {
        position: relative;
        top: 120px;
        opacity: 0;

        transition:
            top 0.5s ease-out,
            opacity 0.5s ease;
    }

    .smooth-display-block[data-smooth-display-block] {
        top: 0;
        opacity: 1;
    }
}